<div class="row" data-type="spotify-artist" data-id="{{ artist.id }}" data-uri="{{ artist.uri }}">
	<div class="grid-4">
		{{ artist.name }}
<!-- 		{% if artist.images[0] is not empty %}
			<img src="{{ artist.images|last.url }}" />
		{% endif %} -->
	</div>
	
	<ol class="grid-8">
		{% for song in artist.songs %}
			<li data-type="spotify-track" data-uri="{{ song.uri }}">
				{{ song.name }}
				<span>
					{{ song.duration }}
				</span>
			</li>
		{% endfor %}
	</ol>
</div>